<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CaidanMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into xt_menu(
			menu_name,	
			menu_url,	
			pid,	
			sortby,	
			menu_icon,	
			auth_code,	
			menu_type,	
			menu_id
		) values (
			#{menu_name},	
			#{menu_url},	
			#{pid},	
			#{sortby},	
			#{menu_icon},	
			#{auth_code},	
			#{menu_type},	
			#{menu_id}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from xt_menu
		where 
			menu_id = #{menu_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  xt_menu
			set 
				menu_name = #{menu_name},	
				menu_url = #{menu_url},	
				pid = #{pid},	
				sortby = #{sortby},	
				menu_icon = #{menu_icon},	
				auth_code = #{auth_code},	
				menu_type = #{menu_type},	
			menu_id = menu_id
			where 
				menu_id = #{menu_id}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			menu_name,	
			menu_url,	
			pid,	
			sortby,	
			menu_icon,	
			auth_code,	
			menu_type,	
			menu_id
		from 
			xt_menu
		where 
			menu_id = #{menu_id}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.menu_name,	
				a.menu_url,	
				a.pid,	
				a.sortby,	
				a.menu_icon,	
				a.auth_code,	
				a.menu_type,	
				a.menu_id
		from 
				xt_menu a
		where 1=1
		<if test="pd.pid != null and pd.pid != ''">
			and a.pid = #{pd.pid}
		</if>
		order by a.pid,a.sortby
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.menu_name name,	
				a.menu_url url,	
				CONCAT(a.pid,'') pid,	
				a.sortby,	
				a.menu_icon,	
				a.auth_code,	
				a.menu_type,
				m.menu_name p_name,	
				a.menu_id id
		from 
				xt_menu a
				left join xt_menu m on a.pid=m.menu_id
		where a.if_deleted=0
		<if test="staff_id != null and staff_id != ''">
			and (select r.role_auth from xt_staff_info s join xt_role r on r.role_id=s.role_id where s.staff_id=#{staff_id}) like concat(concat('%', a.auth_code),'%') 
		</if>
		order by a.pid,a.sortby
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from xt_menu
		where 
			menu_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>